{% extends 'tempinheritance/base.html'%}

{%block content %}

<table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name (Student)</th>
            <th scope="col">Contact (Student Profile)</th>
            <th scope="col">Roll Number (Student Profile)</th>
          </tr>
        </thead>
        {%for datas in data%}
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{datas.Student.name}}</td>
            <td>{{datas.contact}}</td>
            <td>{{datas.rollNo}}</td>
          </tr>
        </tbody>
        {%endfor%}

      </table>



{% endblock %}