{% extends 'crud/base.html'%} {%block content%}
<h1>{{title}}</h1>
<a href="#" style="float: right" class="btn btn-primary">Student</a>
<br /><br />

<form method="post" action="{% url 'crudClassroom'%}">
  {%csrf_token%}
  <label>Name</label>
  <input class="form-control" style="width: 30%" name="name" />
  <br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<br /><br />

<table class="table">
  <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {%for classroom in classrooms%}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{classroom.name}}</td>
      <td>
        <a class="btn btn-warning" href="{%url 'classroomUpdate' classroom.id%}"">Update</a>
        <a class="btn btn-danger" href="{%url 'classroomDelete' classroom.id%}">Delete</a>

      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{%endblock%}
